In [9]:
print('hello World')
print('IPythonNoteBook = > .ipynb')
print('Jupyter is client-server application')

print('cntrl + enter = run code')
print('shift + enter = for new tile')

hello World
IPythonNoteBook = > .ipynb
Jupyter is client-server application
cntrl + enter = run code
shift + enter = for new tile

In [13]:
x=100

In [15]:
x

100

In [16]:
x,y = (1,4)

In [18]:
x

1

In [19]:
y

4

If we want to now the variable type of a variabel we use type() 
and if i want to convert a variable into another variable we use variable type to convert it
for example if i want to convert float into int i use int(x1) where x1 = 5.54
and the output is 5

In [23]:
x1 = 0.99
type(x1)

float

In [22]:
x1 = 861.864
int(x1)

861

Strings

if we want to print String and integer in a same String Function then we use str() 
because print does not allow us to use two different variable together like 10 + "string" 
py does not allow us to this instead we write print(10 + str(string)) => 10 string

In [24]:
'red' + 'car'

'redcar'

In [28]:
print('red' + 'car')

redcar

In [38]:
print('red','car')
print('this how we can add space between "word by add in trailing coma" ')

red car
this how we can add space between "word"

In [39]:
print("It's cool, isn't it?")

It's cool, isn't it?

In [47]:
x = "kalp"
type(x)
x

'kalp'

Arthimetic Operators

In [50]:
50-26 + \
85

109

so with the help of back slash we write or continue the code in the next line

Indexing start from 0 
example "Friday"[3] = > "d"
we use square brackets

In [1]:
True and False

False

In [2]:
not True
True or False

True

In [5]:
True or False

True

Order if given in a Statement = 1. not -> 2.AND -> OR

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\kalpe\AppData\Local\Temp\ipykernel_13124\2929037671.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 6

False

In [15]:
if 21 % 2 ==0 :
    print("fuck yes")
else :
    print("fuck no")

fuck no

In [16]:
x = 10
y = 25

# First conditional statement
if x > 3 and y > 13:
    print("Both conditions are correct")
else:
    # Second conditional statement
    print("At least one of the conditions is false")

# Change the values assigned to x and y to verify the code
x = 2
y = 12

# Re-run the conditional statements with new values
if x > 3 and y > 13:
    print("Both conditions are correct")
else:
    print("At least one of the conditions is false")

Both conditions are correct
At least one of the conditions is false